* {
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
}

body {
    background-color: rgb(133, 40, 219);    
}

main {
    background-color: aliceblue;
    width: 500px;
    margin:auto;
    padding: 10px;
    box-shadow: epx epx 5px black;
}

